<div class=text-center style="color:green;background:rgb(201, 165, 165);padding: 20px;">
  <h3>T-Shirt App</h3>
</div>
<div class="container">
<table class="table">
  <thead>
<th>
Image
</th>
<th>
  Name
</th>
<th>Price  
</th>
<th>
  InStock
</th></thead>
<tbody>
  <tr *ngFor="let p of products">
    <td>
      <img height="50" (mouseover)="changeImage($event,p.BacImageUrl)"  (mouseout)="changeImage($event,p.FronImageUrl)" width="50" [src]="p.FronImageUrl"> 
      <!-- {{p.FronImageUrl}} -->
    </td>
    <td>
      {{p.ProductName}}
    </td>
    <td>
      {{p.Price}}
    </td>
    <td [style.color]='p.InStock<100?outofStockColor:stockColor' >
      {{p.InStock}}
    </td>
    <td>
      
    </td>
  </tr>
</tbody>
</table>
</div>